<div class="container">
  <% if @bulletin.errors.any? %>
  <h3>We have some errors here!</h3>
  <ul>
  <% @bulletin.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  <% end %>

  <div class="pt-5 mt-5">
    <%= form_for [:admin, @bulletin] do |f| %>
    <div class="form-group">
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div>
      <%= f.label :category, "Category"%>
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "請選擇"}, {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :tag, 'Tag' %>
      <%= f.text_field :tag, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :author, 'Author' %>
      <%= f.text_field :author, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :picture, "Photo URL" %>
      <%= image_tag(@bulletin.picture) if @bulletin.picture? %>
      <%= f.text_field :remote_picture_url, class: "form-control" %>
    </div> 

    <div class="form-group">
      <%= f.label :body, "Body" %>
      <%= f.cktext_area :body, :class => 'someclass', :ckeditor => {:language => 'zh-tw'} %>
    </div>

    <div class="form-group">
      <%= f.label :picture, "Photo" %>
      <%= image_tag @bulletin.picture %>
      <%= f.file_field :picture, class: "form-control" %>
    </div>

    <div>
      <%= f.submit button, class: "btn btn-info" %>
    </div>

    <% end %>

  </div>
  
</div>