<!DOCTYPE html>
<html>
  <head>
    <title>RiceShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <header>
      <%= render partial: "layouts/navbar" %>
    </header>

    
    <!-- Notice bar -->   
    <% if flash[:notice] %>
      <div id="notice_wrapper">
        <p class="notice"><%= notice %></p>
      </div>
    <% elsif flash[:alert] %>
      <div id="notice_wrapper">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
   

    <%= yield %>
  </body>
</html>
